/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.text-card {
    color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    max-height: 100%;
    margin: 0 0 10px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}


.image-card {
    max-width:100%;
    max-height:210px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(214, 207, 207, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;    
}

.cards-item {
    display: flex;
    padding: 1rem;
    max-width: 350px;
    max-height: 100%;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
}

.card-content {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(99, 10, 10) 40%, #f04f4f 100%);
    max-height: 100%;
}

.card-title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}


.wrapper {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.wrapper div {
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, .3)
}



#seta:checked~#nomeDoDiv {
    display: none;
}

#seta:checked~#nomeDoDiv2 {
    display: block;
}

#seta:not(:checked)~#nomeDoDiv2 {
    display: none;
}
#seta:not(:checked)~#nomeDoDiv {
    display: block;
}

.icone-seta{
    font-size: 40px;
}
.icone-seta:hover{
    animation: ani-ring 2s ease infinite;

}
